@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Roboto Condensed';
background-color: #ececf9;
color: black;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: white;
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text{
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border-color: rgb(55, 53, 175);
}

.no-records{
  visibility: hidden;
}

.records{
  margin-top: 2rem;
  color: rgb(211, 25, 25);
  font-weight: bolder;

}